body {
    background-color: #7BA05B; /* Asparagus */
}

.navbar-default {
    background-color: #2D383A; /* Outer Space */
    border-color: #2D383A; /* Outer Space */
}

.navbar-default .navbar-header .navbar-brand {
    color: #7BA05B; /* Asparagus */
}

.navbar-default .navbar-collapse .navbar-nav > li > a {
    color: #7BA05B; /* Asparagus */
}

.dropdown open {
    background-color: #00755E; /* Tropical Rain Forest */
}

.dropdown-menu {
    background-color: #2D383A; /* Outer Space */
    border-color: #2D383A; /* Outer Space */
}

.dropdown-menu > li > a{
    color: #7BA05B; /* Asparagus */
}
button.btn.btn-default {
    background-color: #2D383A; /* Outer Space */
    border-color: #2D383A; /* Outer Space */
    color: #7BA05B; /* Asparagus */
}
