/* CSS for creating a dropdown menu using unordered list*/
    ul{
        padding: 0;
        list-style: none;
        background: #00755E; /* Tropical Rain Forest */
        white-space: nowrap;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 50px;
        text-align: left;
        color: #2D383A; /* Outer Space */
        font-weight: bold;
        border-style: solid;
        border-width: 2px;
        border-color: #2D383A; /* Outer Space */
    }

    ul li a{
        display: block;
        padding: 0px 25px;
        color: #2D383A; /* Outer Space */
        text-decoration: none;
    }
    ul li a:hover{
        color: #00755E; /* Tropical Rain Forest */
        background: #2D383A; /* Outer Space */
        border-color: #00755E; /* Tropical Rain Forest */
    }
    ul li ul.dropdown{
        min-width: 250px;
        background: #00755E; /* Tropical Rain Forest */
        font-weight: bold;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;
    }
    ul li ul.dropdown li{
        display: block;
    }

    h1 {
        color: #2D383A; /* Outer Space */
    }

    h3 {
        color: #2D383A; /* Outer Space */
    }

    a href{
        text-decoration: none;
        color:  #2D383A; /* Outer Space */
    }

    /* Styling for HTML form */
    input[type=submit] {
        padding:5px 15px; background:#ccc; border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border-color: #2D383A; /* Outer Space */
        background: #00755E; /* Tropical Rain Forest */
        font-weight: bold;
    }

    th {
        background: #00755E; /* Tropical Rain Forest */
        color: #2D383A; /* Outer Space */
    }